$font-family: "Montserrat";
$font-family-quote: "Special Elite";
$font-family-sign: "Signatures";
$font-size: 1.6rem;
$color-primary: #8f0905;
$color-contrast: #d9741d;
$color-alternative: #f9f6f2;
$color-btn-hover: #b65e18;
$color-hbo-primary: #5115cf;
$color-hbo-alternative: #3d0e9a;
$color-hbo-contrast: #000066;

// responsive

$tablet: 1130px;
$mobile: 767px;
